/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 32px;
  line-height: 37px;
  background: #fff;
  font-family: "Roboto", sans-serif; }

.wrapper {
  padding: 0 80px;
  min-height: 100vh; }
  .wrapper-header {
    height: 80px;
    top: 0;
    left: 0;
    position: relative;
    z-index: 150;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .wrapper-header-heading {
      color: #272822;
      font-size: 18px;
      line-height: 21px; }

.menu {
  width: 56px;
  min-height: calc(100vh - 160px);
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  margin: 0 0 0 54px;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200; }
  .menu-line {
    width: 48px;
    height: 5px;
    position: relative;
    background-color: #75715e;
    transform-origin: center center;
    transition: transform 250ms ease;
    z-index: 200; }
    .menu-line:before, .menu-line:after {
      content: "";
      position: absolute;
      width: 48px;
      height: 5px;
      background-color: #75715e;
      margin: 0 0 0 -8px; }
    .menu-line:before {
      transform: translateY(-13px); }
    .menu-line:after {
      transform: translateY(13px); }

#menu {
  display: none; }

#menu:checked ~ .menu {
  background-color: transparent;
  margin: 0 0 0 6px;
  transform: rotate(360deg);
  transition: transform 250ms ease; }

#menu:checked ~ .menu .menu-line {
  background-color: #75715e;
  transition: transform 250ms ease; }

#menu:checked ~ .menu .menu-line {
  background-color: #75715e;
  transform: translateY(-1px) rotate(-45deg); }

#menu:checked ~ .menu .menu-line:before {
  background-color: #75715e;
  margin: 0;
  transform: translateY(0px) rotate(90deg); }

#menu:checked ~ .menu .menu-line:after {
  display: none; }

#menu:checked ~ .nav {
  left: 0px;
  transition: left 500ms ease; }

#menu:checked ~ .wrapper {
  transform: translateX(50%);
  transition: transform 500ms ease; }

.nav {
  position: fixed;
  bottom: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
  transition: left 500ms ease;
  z-index: 100; }

.nav ul {
  position: relative;
  height: 100vh;
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 0px 160px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.nav ul li {
  position: relative;
  display: block;
  border-bottom: 5px solid white; }

.nav ul li a {
  position: relative;
  display: block;
  text-decoration: none; }

a[href$=".skills"],
a[href$=".projects"] {
  margin: 0 0 32px 0; }

a[href$=".experience"],
a[href$=".tel"] {
  margin: 0 0 80px 0; }

a[href$=".collab"] {
  margin: 0 0 16px 0; }

a[href$=".email"] {
  margin: 0 16px 0 0; }

.arrow {
  vertical-align: middle; }

.nav ul li a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 250ms ease;
  z-index: -1; }

.nav ul li a:hover {
  color: #f5f5f5; }

.nav ul li a:hover:before {
  width: 100%;
  height: 100%;
  background-color: #75715e;
  transition: width 250ms ease; }

.links {
  width: 80px;
  height: calc(100vh - 160px);
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .links-list {
    margin: 0; }
    .links-list-img {
      height: 24px;
      width: 24px;
      margin: 8px; }

.hero {
  width: 100%;
  background: #e6db74;
  min-height: calc(100vh - 160px);
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero:before {
    content: "";
    width: 50%;
    background: #f5f5f5;
    height: calc(100vh - 160px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    transition: transform 1s ease, opacity 1s ease-out, scale 1s ease; }
  .hero-text {
    position: relative;
    z-index: 10; }
  .hero .primary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  .hero .welcome {
    font-size: 65px;
    line-height: 70px;
    color: #272822;
    font-weight: bold;
    width: 30%;
    text-align: center; }
  .hero .dot {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #f92672;
    position: absolute;
    bottom: 3%;
    right: 33%; }
  .hero .info {
    opacity: 0;
    display: none;
    margin: 0 0 0 160px; }
  .hero .about {
    padding: 32px 0px 0px;
    width: 50%;
    display: flex;
    flex-wrap: wrap; }
  .hero:hover:before {
    transform: rotate(-120deg) scale(0.1, 0.1);
    opacity: 0; }
  .hero:hover .info {
    display: block;
    opacity: 1; }
  .hero:hover .welcome,
  .hero:hover .dot {
    opacity: 0;
    display: none; }

.parallax {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/img-working-place.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 80px 0 80px 0; }

.catalog {
  width: 100%;
  height: 100vh;
  margin: 0 0 80px 0;
  background: #e6db74;
  background: linear-gradient(140deg, rgba(230, 219, 116, 0.461222) 28%, whitesmoke 68%);
  position: relative;
  display: flex;
  flex-direction: column; }
  .catalog h2 {
    margin: 80px 0 80px 80px; }

.title {
  font-weight: 900;
  font-size: 80px;
  line-height: 94px;
  color: #272822; }

.subtitle {
  font-weight: 900;
  font-size: 32px;
  line-height: 37px;
  color: #272822; }

.data {
  color: #f92672;
  font-size: 18px;
  line-height: 21px;
  font-style: italic; }

.phone {
  line-height: 21px;
  font-size: 18px;
  color: #272822; }

.list {
  display: flex; }
  .list-bar {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-grow: 1; }
    .list-bar-item {
      margin: 0px 0px 20px 80px;
      font-size: 32px;
      line-height: 37px; }
  .list-fill {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-grow: 4;
    position: relative;
    margin: 0 30px 0 0; }
    .list-fill-decor {
      height: 37px;
      margin: 0px 10px 20px 0px;
      display: flex;
      align-items: center; }
      .list-fill-decor .html,
      .list-fill-decor .layout,
      .list-fill-decor .boot,
      .list-fill-decor .jq,
      .list-fill-decor .pre,
      .list-fill-decor .gulp,
      .list-fill-decor .git {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        background: #f92672; }

@keyframes html {
  0% {
    width: 0px; }
  100% {
    width: 80%; } }

@keyframes layout {
  0% {
    width: 0; }
  100% {
    width: 75%; } }

@keyframes boot {
  0% {
    width: 0; }
  100% {
    width: 60%; } }

@keyframes jq {
  0% {
    width: 0; }
  100% {
    width: 62%; } }

@keyframes pre {
  0% {
    width: 0; }
  100% {
    width: 80%; } }

@keyframes gulp {
  0% {
    width: 0; }
  100% {
    width: 70%; } }

@keyframes git {
  0% {
    width: 0; }
  100% {
    width: 75%; } }

.list-fill:hover .html {
  width: 80%;
  animation: html 2s ease-out; }

.list-fill:hover .layout {
  width: 75%;
  animation: layout 2s ease-out; }

.list-fill:hover .boot {
  width: 60%;
  animation: boot 2s ease-out; }

.list-fill:hover .jq {
  width: 62%;
  animation: jq 2s ease-out; }

.list-fill:hover .pre {
  width: 80%;
  animation: pre 2s ease-out; }

.list-fill:hover .gulp {
  width: 70%;
  animation: gulp 2s ease-out; }

.list-fill:hover .git {
  width: 75%;
  animation: git 2s ease-out; }

.projects {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 0 80px 0;
  background-image: url(../img/img-devices.svg);
  background-position: center;
  background-size: cover; }

.pr-txt {
  height: 100%;
  width: 100%;
  position: relative; }

.pr-txt h2 {
  color: #e6db74;
  padding: 40px 0 0 80px; }

.pr-txt h5 {
  color: #fff;
  padding: 80px 0 37px 80px; }

.pr-txt p {
  color: #fff;
  width: 50%;
  padding: 0 0 16px 80px; }

.pr-txt {
  display: none; }

.pr-txt h2,
.pr-txt h6,
.pr-txt h5,
.pr-txt p,
.pr-txt a,
.ipr-txt img {
  display: none; }

.pr-txt a {
  color: #f92672;
  padding: 0 0 0 80px; }

.pr-txt svg {
  position: absolute;
  margin: 16px 0 0 8px; }

.pr-txt svg * {
  fill: #f92672; }

.projects:hover div.pr-txt {
  display: block;
  background: #353535; }

.projects:hover div.pr-txt .txt {
  display: block; }

.exp {
  width: 100%;
  height: 100vh;
  background: whitesmoke;
  background: linear-gradient(140deg, whitesmoke 28%, #e6db74 68%);
  position: relative; }

.exp-txt {
  position: relative; }
  .exp-txt h2 {
    padding: 80px 0 80px 80px; }
  .exp-txt h6 {
    padding: 0 0 0 80px; }
  .exp-txt h5 {
    padding: 0 0 0 80px; }
  .exp-txt p {
    padding: 0 0 0 80px; }
  .exp-txt a {
    padding: 0 0 0 80px; }
    .exp-txt a svg {
      position: absolute;
      margin: 20px 0 0 8px; }
    .exp-txt a svg * {
      fill: #f92672; }

.footer {
  margin: 80px 0 0 0;
  display: flex;
  height: 160px;
  justify-content: space-between;
  align-items: center; }
  .footer-link {
    text-decoration: none;
    color: #272822; }
    .footer-link:hover {
      opacity: 0.5; }
  .footer a {
    text-decoration: none; }
    .footer a:hover {
      opacity: 0.5; }
