@import "var";
@import "reset";

body {
  font-size: $pr-fs;
  line-height: $pr-lh;
  background: $gap-color;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  padding: 0 $gap;
  min-height: 100vh;
  &-header {
    height: $gap;
    top: 0;
    left: 0;
    position: relative;
    z-index: 150;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-heading {
      color: $main-text;
      font-size: $sc-fs;
      line-height: $sc-lh;
    }
  }
}
.menu {
  width: 56px;
  height: calc(100vh - 160px);
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  margin: 0 0 0 54px;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200;
  &-line {
    width: 48px;
    height: 5px;
    position: relative;
    background-color: $icon-color;
    transform-origin: center center;
    transition: transform 250ms ease;
    z-index: 200;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 48px;
      height: 5px;
      background-color: $icon-color;
      margin: 0 0 0 -8px;
    }
    &:before {
      transform: translateY(-13px);
    }
    &:after {
      transform: translateY(13px);
    }
  }
}
#menu {
  display: none;
}
#menu:checked ~ .menu {
  background-color: transparent;
  margin: 0 0 0 6px;
  transform: rotate(360deg);
  transition: transform 250ms ease;
}
#menu:checked ~ .menu .menu-line {
  background-color: $icon-color;
  transition: transform 250ms ease;
}
#menu:checked ~ .menu .menu-line {
  background-color: $icon-color;
  transform: translateY(-1px) rotate(-45deg);
}
#menu:checked ~ .menu .menu-line:before {
  background-color: $icon-color;
  margin: 0;
  transform: translateY(0px) rotate(90deg);
}
#menu:checked ~ .menu .menu-line:after {
  display: none;
}
#menu:checked ~ .nav {
  left: 0px;
  transition: left 500ms ease;
}
#menu:checked ~ .wrapper {
  transform: translateX(50%);
  transition: transform 500ms ease;
}
.nav {
  position: fixed;
  bottom: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $gap-color;
  transition: left 500ms ease;
  z-index: 100;
}
.nav ul {
  position: relative;
  height: 100vh;
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 0px 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav ul li {
  position: relative;
  display: block;
  border-bottom: 5px solid white;
}
.nav ul li a {
  position: relative;
  display: block;
  text-decoration: none;
}
a[href$=".skills"],
a[href$=".projects"] {
  margin: 0 0 32px 0;
}
a[href$=".experience"],
a[href$=".tel"] {
  margin: 0 0 80px 0;
}
a[href$=".collab"] {
  margin: 0 0 16px 0;
}
a[href$=".email"] {
  margin: 0 16px 0 0;
}
.arrow {
  vertical-align: middle;
}
.nav ul li a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 250ms ease;
  z-index: -1;
}
.nav ul li a:hover {
  color: $bg-color;
}
.nav ul li a:hover:before {
  width: 100%;
  height: 100%;
  background-color: $icon-color;
  transition: width 250ms ease;
}
.links {
  width: $gap;
  height: calc(100vh - 160px);
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-list {
    margin: 0;
    &-img {
      height: 24px;
      width: 24px;
      margin: 8px;
    }
  }
}
.hero {
  width: 100%;
  background: $primary-color;
  height: calc(100vh - 160px);
  margin: 0 0 $gap;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    content: "";
    width: 50%;
    background: #f5f5f5;
    height: calc(100vh - 160px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    transition: transform 1s ease, opacity 1s ease-out;
  }
  &-text {
    position: relative;
    z-index: 10;
  }
  .primary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .welcome {
    font-size: 65px;
    line-height: 70px;
    color: $main-text;
    font-weight: bold;
    width: 30%;
    text-align: center;
  }
  .dot {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: $brand-color;
    position: absolute;
    bottom: 3%;
    right: 33%;
  }
  .info {
    opacity: 0;
    display: none;
    margin: 0 0 0 160px;
  }
  .about {
    padding: 32px 0px 0px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  &:hover {
    &:before {
      transform: rotate(-180deg);
      opacity: 0;
    }
    .info {
      display: block;
      opacity: 1;
    }
    .welcome,
    .dot {
      opacity: 0;
      display: none;
    }
  }
}
.parallax {
  background-image: url(../img/img-working-place.svg);
  height: calc(100vh - 160px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.catalog {
  width: 100%;
  margin: $gap 0 0 0;
  background: $bg-color;
  height: calc(100vh - 80px);
  position: relative;
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 900;
  font-size: $title-fs;
  line-height: $title-lh;
  color: $main-text;
  margin: $gap 0px 0px $gap;
}
.subtitle {
  font-weight: 900;
  font-size: $pr-fs;
  line-height: $pr-lh;
  color: $main-text;
}
.data {
  color: $brand-color;
  font-size: $sc-fs;
  line-height: $sc-lh;
  font-style: italic;
}
.phone {
  line-height: $sc-lh;
  font-size: $sc-fs;
  color: $main-text;
}
.list {
  display: flex;
  &-bar {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-grow: 1;
    &-item {
      margin: 0px 0px 20px 80px;
      font-size: $pr-fs;
      line-height: $pr-lh;
    }
  }
  &-fill {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-grow: 4;
    position: relative;
    &-decor {
      height: 37px;
      margin: 0px 0px 20px 0px;
      position: relative;
      display: flex;
      align-items: center;
    }
  }
}
.square {
  position: relative;
  height: 14px;
}
.left,
.center,
.right {
  position: absolute;
  top: 0;
  bottom: 0;
  background: $brand-color;
}
.left,
.right {
  width: 7px;
}
.left {
  border-radius: 7px 0 0 7px;
}
.right {
  border-radius: 0 7px 7px 0;
}
.center {
  left: 7px;
  width: 1px;
  transform: scaleX(60);
  transform-origin: left;
}
.right {
  transform: translateX(67px);
}
.center {
  animation: center-animate 5s ease infinite alternate;
}
.right {
  animation: right-animate 5s ease infinite alternate;
}
@keyframes right-animate {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(7px);
  }
}
@keyframes center-animate {
  0% {
    transform: scaleX(594);
  }
  100% {
    transform: scaleX(1);
  }
}
