$brand-color: #f92672;
$gap-color: #fff;
$bg-color: #f5f5f5;
$holder-color: #353535;
$primary-color: #e6db74;
$main-text: #272822;
$icon-color: #75715e;

$title-fs: 80px;
$title-lh: 94px;

$pr-fs: 32px;
$pr-lh: 37px;

$sc-lh: 21px;
$sc-fs: 18px;

$gap: 80px;
$base-duration: 500ms;

$brand-color-dt: #87c232;
$bg-color-dt: #222629;
$primary-color-dt: #e6db74;
$main-text-dt: #272822;
$icon-color-dt: #87c232;
