$brand-color: #f92672;
$gap-color: #fff;
$bg-color: #e5e5e5;
$primary-color: #e6db74;
$main-text: #272822;
$icon-color: #75715e;

$text-size: 32px;
$line-height: 37px;
$gap: 80px;

$brand-color-dt: #87c232;
$bg-color-dt: #222629;
$primary-color-dt: #e6db74;
$main-text-dt: #272822;
$icon-color-dt: #87c232;

$base-duration: 500ms;
